body {
    background-color: antiquewhite;
    text-align: center;

}

.board {
    background-color: rgb(41, 181, 111);
    display: flex;
    border: 4px solid rgb(32, 93, 63);
    width: 550px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-self: center;
}

.crcl:hover {
    cursor: pointer;
}

button {
    background-color: rgb(166, 217, 203);
    width: 135px;
    height: 45px;
    margin: 25px;
    border-radius: 50%;
}

.crcl {
    flex: auto;
    justify-content: space-between;
    background-color: antiquewhite;
    border-radius: 100%;
    border: 3px solid rgb(22, 107, 65);
    width: 70px;
    aspect-ratio: 1/1;
}
